{% extends 'ecomm/base.html' %}

{% block title %}<title>{{ title }}</title>{% endblock title %}
{% block content %}
    {% load breadcrumbs %}
    {% get_breadcrumbs_other title %}
<div class="container-lg">
    <h1 class="text-center" >Доставка и Оплата</h1>
        <p>Оформити замовлення на нашому інтернет-магазині  Ви можете цілодобово в робочі, вихідні та святкові дні - 24/7.
            Ми пропонуємо наступні форми оплати при купівлі товарів:
       </p>
    <h1 class="text-center" >Готівковий розрахунок</h1>
        <p>Готівковий розрахунок передбачає оплату за товар безпосередньо при отриманні замовлення.
           Оплата приймається тільки в гривнях.
           При кур'єрській доставці ви передаєте гроші нашому співробітнику, який видає вам товарну накладну і заповнює гарантійний талон. Підписавши товарний чек, ви підтверджуєте факт оплати та доставки товару.
        </p>
    <h1 class="text-center" >Безготівковій розрахунок</h1>
        <p>Оплата здійснюється через касу будь-якого зручного для Вас банку або розрахункового рахунку Вашої компанії.
           При оплаті безготівковим розрахунком доставка здійснюється тільки після того, як кошти перераховані Вами надійдуть на наш розрахунковий рахунок.
           Також у Вас є можливість оплатити товар, перерахувавши гроші на картковий рахунок «Приват Банку». Номер картки Ви можете отримати у наших менеджерів за телефонами: (095) 123-4567, (067) 123-4567, (093) 123-4567.
        </p>
    <h1 class="text-center" >Доставка в нашому інтернет-магазині:</h1>
        <p>Доставка товару по Києву вiд 1000 грн. - безкоштовна!
           Безкоштовна доставка*- Достака "НОВА ПОШТА" безкоштовна при вартості замовлення від 1000 грн.
           Доставка великогабаритної техніки (кухонні плити, душові кабіни і т.д.) - по Києву безкоштовна!
           Час доставки: щодня з 9:00 до 21:00.
           Доставка здійснюється до під'їзду.
           Підйом габаритних вантажів на поверх оплачується окремо.
           ВАЖЛИВО! При доставці товару, обов'язково переконайтеся в цілісності і комплектності товару.
           Ви можете також забрати попередньо замовлений товар самостійно в нашому офісі за адресою: ______.
           ВАЖЛИВО! Перед приїздом, попередньо уточніть наявність товару на офісі або можливість переміщення на офіс.
           Доставка товарів по Україні здійснюється за допомогою кур'єрських служб:
           "Нова Пошта", Автолюкс, Нічний Експрес, Делівері Авто і інші.
           Пересилання товару по Україні оплачується згідно тарифу служби доставки.
           ВАЖЛИВО! Обов'язково переконайтеся в цілісності і комплектності товару при отриманні безпосередньо у відділенні вантажоперевізника в присутності співробітника транспортної компанії.
        </p>
</div>

{% endblock %}
